#banner h1 {
    font-family: 'thewitcher';
    font-size: 5rem;
}

#banner p {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#banner {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(209, 64, 64, 0.3) 100%), url('../img/autorbanner.jpg');
    height: calc(100vh - 41px);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#textobanner {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.banner-text {
    filter: drop-shadow(1px 1px 5px rgb(255, 255, 255, .5));
    width: 750px;
}

section {
    height: 100vh;
}

span {
    font-family: 'Roboto Slab', serif;
}

a span {
    display: block;
}

.action {
    width: 60vw;
    margin-top: 2rem;
}

.action a,
.action i,
.action span {
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-size: 25px;
}

.container {
    width: 90vw;
}

.section-one {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 100%), url('../img/autor1.jpg');
}

.section-two {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 100%), url('../img/autor\ 2.jpg');
}

.section-one,
.section-two {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.article-one,
.article-two {
    width: 95vw;
    height: 80vh;
}

.article-one h2,
.article-two h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 3rem;
    margin: 1rem 0;
}

.article-one p,
.article-two p {
    font-size: 1.3rem;
    text-align: justify;
}

li {
    font-size: 1.2rem;
}


@media (max-width: 575.98px) {
    * {
        font-size: 8px;
        font-weight: 600;
    }

    #banner h1 {
        font-size: 2.8rem;
    }

    #banner,
    .section-two {
        background-position-x: 20%;
    }

    #textobanner {
        position: absolute;
        left: 10px;
        bottom: 150px;
    }
    .banner-text{
        width: 100%;
    }
    
    .banner-text img {
        width: 28rem;
    }

    section {
        height: 100vh;
    }

    .article-one h2 {
        letter-spacing: 0.2px;
        font-size: 2.5rem;
        margin-top: 2050px;
    }

    .article-one, {
        width: 90vw;
        height: 60vh;
    }
    .article-two {
        width: 90vw;
        height: 80vh;
    }
    .article-one {
        scroll-padding: 91px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .action {
        flex-direction: row;
        margin-top: 0.5rem;
    }

    a span,
    a i {
        display: inline-flex;
        font-size: 1.4rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    * {
        font-size: 8px;
        font-weight: 600;
    }

    #banner h1 {
        font-size: 4rem;
    }

    #banner,
    .section-two {
        /* height: calc(100vh - 41px); */
        background-position-x: 20%;
    }

    #textobanner {
        position: absolute;
        left: 10px;
        bottom: 50px;
    }

    .banner-text img {
        width: 28rem;
    }

    section {
        height: 100vh;
    }

    .article-one h2 {
        letter-spacing: 0.2px;
        font-size: 2.5rem;
        margin-top: 25rem;
    }

    .article-one,
    .article-two {
        width: 90vw;
        height: 80vh;
    }

    .article-one {
        scroll-padding: 91px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .action {
        flex-direction: row;
        margin-top: 0.5rem;
    }

    a span,
    a i {
        display: inline-flex;
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    * {
        font-size: 8px;
        font-weight: 600;
    }

    .banner-text img {
        width: 28rem;
    }

    section {
        height: 100vh;
    }

    .article-one h2 {
        letter-spacing: 0.2px;
        font-size: 2.5rem;
        margin-top: 9rem;
    }

    .article-one,
    .article-two {
        width: 90vw;
        height: 80vh;
    }

    .article-one {
        scroll-padding: 91px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .action {
        flex-direction: row;
        margin-top: 0.5rem;
    }

    a span,
    a i {
        display: inline-flex;
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {}