body{
    background-image: linear-gradient(180deg, rgba(97, 97, 97, 0.6) 0%, rgba(100, 100, 100, 0.6) 100%),url(../img/background01.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.container{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5rem 3rem;
}
#hexer{
    width: 20rem;
    height: 30rem;
    
}
.card {
    height: 30rem;
    width: 30rem;
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    background-color: rgba(244, 250, 255, 0.905);
}
 h1{
     text-align: center;
 }
.modal-dialog{
    aspect-ratio: 16/9;
    width: 80vw;
    height: fit-content;
    max-width:1000px;
}
.anime{
    width: 90%;
}
#atores{
    flex-direction: row;
    gap: 0.5rem;
    
}
.logoSerie{
    margin: 3rem;
}
.serie {
    font-size: 1.75rem;
    text-align: justify;
}


/* @media (min-width: 1024px) and (max-width: 1600px) { 

    .card {
        height: 30rem;
        width: 25rem;
        text-align: center;
        padding: 2rem;
        font-size: 1.2rem;
    }
 } */
/* @media (min-width: 768px) and (max-width: 1023,99px) { 
    #atores{
        flex-direction: column;

    }
    .card {
        height: 30rem;
        width: 35rem;
        text-align: center;
        padding: 2rem;
        font-size: 1.2rem;
    }
 } */
 
@media (max-width: 575.98px) { 

}

@media (min-width: 576px) and (max-width: 767.98px) {


}

@media (min-width: 768px) and (max-width: 991.98px) { 


}

@media (min-width: 992px) and (max-width: 1199.98px) { 
#atores{
        flex-direction: column;
        flex-wrap: wrap;
    }

} 