body{
    background-image: linear-gradient(180deg, rgba(97, 97, 97, 0.6) 0%, rgba(100, 100, 100, 0.6) 100%),url(../img/background01.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem 3rem;
    backdrop-filter: blur(5px) saturate(90%);
    -webkit-backdrop-filter: blur(5px) saturate(90%);
}
main{
    margin-bottom: 30px;
}

#hexer{
    width: 20rem;
    height: 30rem;
    
}
.card {
    height: 30rem;
    width: 25rem;
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: rgba(244, 250, 255, 0.905);
    
}

.modal-dialog{
    aspect-ratio: 16/9;
    width: 80vw;
    height: fit-content;
    max-width:1000px;
}
.anime{
    width: 90%;
} 
#atores{
    flex-direction: row;
    gap: 0.5rem;
    /* flex-wrap: wrap; */
    flex-grow: 1;
    max-width:100%
    
}
.logoSerie{
    margin: 3rem;
}
.text{
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 450;
}
h1, h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin: 3rem 0;
    text-align: center;
}

/* carrossel com as fotos da primeira temporada */
.carousel {
    margin-bottom: 4rem;
    width: calc(100% + 6rem);
/*     aspect-ratio: 16/9;
    max-width: calc(100% + 6rem); */
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    aspect-ratio: 16/9;
    max-width: calc(100% + 6rem);
    width: calc(100% + 6rem);
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: -5.5rem;
    min-width: 100%;
    aspect-ratio: 16/9;
    max-width: calc(100% + 6rem);
    width: calc(100% + 6rem);
  }
