@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto+Slab:wght@300;400;700&display=swap');

@font-face {
    src: url('../assets/thewitcher-4.ttf');
    font-family: 'thewitcher';
    font-weight: normal;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; 
*/


*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

:root{
    font-size: 14px;
}


.footer{
    background-color: rgba(255, 255, 255, 1);
}