/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; 
*/





html, body {
    overflow: hidden;
  }

  
#banner h1 {
    font-family: 'thewitcher';
    font-size: 5rem;
}

#banner p{
    font-size: 2rem;
}

#banner {
    background-image: url('../img/bannerHome.jpg');
    height: 100vh;/* calc(100vh - 75px); */
    background-attachment: fixed;
}

section {
    height: 100vh ;/* calc(100vh - 75px); */
}

.section-one {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.6) 100%), url('../img/background01.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.article-one {
    width: 60vw;
    height: 70vh;
    backdrop-filter: blur(20px) saturate(90%);
    -webkit-backdrop-filter: blur(20px) saturate(90%);
    background-color: rgba(137, 171, 202, 0.2);
    border-radius: 1rem;
    border: 1px solid rgba(83, 83, 83, 0.125);
}

.article-one h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin: 2rem 0;
}

.article-one p, .article-two p {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    text-align: justify;
    padding: 1.8rem;
}

.article-one h2 span {
    font-family: 'thewitcher';
    font-size: 3rem;
}


.section-two {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.6) 100%), url('../img/background02.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.article-two {
    width: 60vw;
    height: 75vh;
    backdrop-filter: blur(20px) saturate(90%);
    -webkit-backdrop-filter: blur(20px) saturate(90%);
    background-color: rgba(224, 224, 222, 0.301);
    border-radius: 12px;
    border: 1px solid rgba(83, 83, 83, 0.125);
}

.action{
    width: 60vw;
    margin-top:2rem;
}

.action a{
    text-decoration: none;
    color:rgb(32, 32, 32);
    font-size: 25px;
    
}

a span{
    
    display: block;
}