body {
    background: linear-gradient(180deg, rgba(97, 97, 97, 0.6) 0%, rgba(100, 100, 100, 0.6) 100%), url('../img/background02.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3rem 3rem;
    backdrop-filter: blur(5px) saturate(90%);
    -webkit-backdrop-filter: blur(5px) saturate(90%);
}

main {
    margin-bottom: 30px;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin: 3rem 0;
    text-align: center;
}

.text {
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 450;
}

strong {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
}

.box-list {
    width: 100%;
}
.lista{
width: 380px;
margin: 10px;
}
@media (max-width: 575.98px) {
    * {
        font-size: 10px;
    }

    .text {
        text-align: justify;
        font-size: 1.1rem;
        font-weight: 450;
    }

    h5 {
        font-size: 16px;
    }

    li {
        font-size: 14px;
    }

    .box-list {
        flex-direction: column;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    * {
        font-size: 10px;
    }

    .text {
        text-align: justify;
        font-size: 1.1rem;
        font-weight: 450;
    }

    h5 {
        font-size: 16px;
    }

    li {
        font-size: 14px;
    }

    .box-list {
        flex-direction: column;
    }
    .lista{
        width: 400px;
        margin: 10px;
        }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    * {
        font-size: 10px;
    }

    .text {
        text-align: justify;
        font-size: 1.1rem;
        font-weight: 450;
    }

    h5 {
        font-size: 16px;
    }

    li {
        font-size: 14px;
    }

}

@media (min-width: 1200px) and (max-width: 1600px) {
    * {
        font-size: 10px;
    }

    .text {
        text-align: justify;
        font-size: 1.1rem;
        font-weight: 450;
    }

    h5 {
        font-size: 16px;
    }

    li {
        font-size: 14px;
    }
}