body{
    background:  linear-gradient(180deg, rgba(97, 97, 97, 0.6) 0%, rgba(100, 100, 100, 0.6) 100%),url('../img/background02.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
main{
    margin-bottom: 30px;
}
img{
    max-width: 100%;
    max-height: 400px;
}
h1{
    text-align: center;
    margin: 3rem 0;
}
h1, h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.lead{
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 450;
}


.container{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3rem 3rem;
    backdrop-filter: blur(5px) saturate(90%);
    -webkit-backdrop-filter: blur(5px) saturate(90%);
}