@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');


body {
  background-image: linear-gradient(180deg, rgba(97, 97, 97, 0.6) 0%, rgba(100, 100, 100, 0.6) 100%),url(../img/background01.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3rem 3rem;
  backdrop-filter: blur(5px) saturate(90%);
  -webkit-backdrop-filter: blur(5px) saturate(90%);
}

#livros {
  display: flex;
  justify-content: space-between;
  padding: 65px;
  align-items: center;
  flex-wrap: wrap;
}

.titulo {
  text-align: center;
  padding: 15px 0;
}

h1{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  text-align: center;
}

.saga {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 78px;
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.saga img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  transition: all .3s ease-in-out;
}

.saga img:hover {
  transform: scale(1.2);
}

.btn {
  padding: 10px 90px;
  font-weight: bold;
  border-radius: 9px;
  border: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(41, 60, 95);
  color: white;
}

@media (max-width: 575.98px) { 
  #livros {flex-direction: column;  
}
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  #livros {flex-direction: column;  
}
}

@media (min-width: 768px) and (max-width: 991.98px) { 
  #livros {flex-direction: column;  
}
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
#livros{
        flex-direction: column;
        flex-wrap: wrap;
    }

} 

@media (min-width: 1200px) and (max-width: 1600px) { 
#livros{
            flex-direction: column;
            flex-wrap: wrap;
        }
 
} 