@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');


* {
    text-align: left;
    
}

main{
    padding-bottom: 30px;
}
#titulo h1 {
    font-family: 'thewitcher';
    font-size: 5rem;
}

#titulo {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(209, 64, 64, 0.3) 100%), url('../img/backgroundmundo1.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.text {
    filter: drop-shadow(2px 2px 5px rgb(255, 255, 255));
}

#aside {
    width: 20%;
    height: 100vh;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}
#aside li{
    list-style: none;
    margin: 10px 0;
}

#aside p{
    font-size: 2rem;
}
.box {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

section {
    height: 100vh;
}

h1{
    text-align: left;
}

p{
    text-align: justify;
}

article{

    padding: 0 20px;
    
}

