*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
/*     scroll-padding: 75px; */
}

.nav-link{
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
}
.nav-link .active{
    font-weight: 700;
}
.nav-item{
    margin: 0 1rem;

}

ul li a:hover{
    transform: scale(1.4);
}
.active{
    transform: scale(1.4);
}

.dropdown-item:active{
    background-color: #e9ecef;
    color: #000;
}