body{
    background-color: #000;
    color: #75c5f0;
    margin: auto;
    width: 1000px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

img{
    width: 300px;
    opacity: 0.5;
}

p{
    text-align: justify;
}

p::first-letter{
    font-size: larger;
    font-weight: 500;
}
p:hover::before {
    content: '➤';
}

img:hover{
    opacity: 1;
}

input[type=radio]:checked{
    transform: scale(1.1);
}

input[type=radio]:focus{
    
}

fieldset:nth-child(odd){
background-color: #090909;
}
option:disabled{
    background-color:#525;
    color: #000;
}