@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    height: 60px;
    padding: 0 20px;
    background-color: #080808;
    color: #ffffff;
    z-index: 10;
}

header ul li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #68b1f1;
}
h1::first-letter {
    color: #68b1f1;
}

header ul {
    display: flex;
    gap: 5px;
}

header li a {
    text-decoration: none;
    color: #68b1f1;
    padding: 10px;
    border-radius: 9px;
    font-weight: bold;
    /* transition: all .3s ease-in-out; */
}

header li a:hover {
    background-color: #68b1f1;
    color: #fff;
}

.card-grid{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 18px;
text-align: center;
}

.card-game img{
    height: 800px;
    width: 100%;
    object-fit: cover;
    object-position:top;
    transition: all .3s ease-in-out;
}

.image-container{
    height:  800px;
    width: 100%;
    border: 10px groove lightslategray;
    border-radius: 8px;
    overflow: hidden;

}

.game-card img:hover{
    transform: scale(1.1);
}