@import url("https://fonts.googleapis.com/css?family=Quicksand:500|Roboto|Sofia");

body {
  -ms-flex-line-pack: center;
  align-content: center;
}

.backgroundimg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(black)), url(https://www.teahub.io/photos/full/112-1121814_galaxy-background-best-galaxy-background-design.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.6), black), url(https://www.teahub.io/photos/full/112-1121814_galaxy-background-best-galaxy-background-design.jpg);
  background-size: cover;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 1065px;
  grid-gap: 15px;
  margin: 0 auto;
  -ms-grid-columns: 350px 350px 350px;
  grid-template-columns: 350px 350px 350px;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: 'header header header'
    'about about about'
    'extlink extlink extlink'
    'tacotar tacotar tacotar'
    'coveracotar acotar acotar'
    'ttog ttog ttog'
    'tog tog covertog';
}

.blockhead {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background: #EFEDF9;
  margin: 0 auto;
  padding-top: 20px;
  border: 5px dotted #000000;
  border-radius: 25px;
}

.authorimg {
  display: block;
  margin: auto;
}

#image {
  max-width: 95%;
  display: block;
  height: auto;
  border-radius: 40px;
}

.authorimg h1 {
  font-family: 'Sofia', cursive;
  font-size: 7em;
  color: #5E82A3;
  opacity: 0.95;
  position: absolute;
  padding-top: 345px;
  padding-left: 300px;
  text-shadow: 3.5px 3.5px 0 #000,
    -2px -2px 0 #EFEDF9;
}

#author-caption {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  color: #5E82A3;
  font-weight: bold;
  margin-top: 45px;
}

.abouttheauthor {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: about;
  margin: auto;
  background: #99ABD1;
  opacity: 0.9;
  color: #000;
}

figcaption {
  text-align: center;
  width: 800px;
}

.extlink {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: extlink;
  background: #BAAFD3;
  height: 40px;
  font-size: 10px;
  line-height: 6px;
  font-family: Roboto;
  text-align: right; 
}
.extlink p{
  margin: 20px;
  font-size: 18px;
  font-family: Roboto;
  text-align: right;
  letter-spacing: 1.5px;
  word-spacing: 1.8px;
}
.content {
  margin: 20px;
  font-size: 18px;
  font-family: Roboto;
  text-align: justify;
  letter-spacing: 1.5px;
  word-spacing: 1.8px;
}
a:link {
  color: #333
}

a:visited {
  color: #333;
}

.tacotar {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tacotar;
  height: 100px;
  font-size: 50px;
  font-family: Sofia;
  text-align: right;
  color: #f1f1f1;
  text-shadow: 3.5px 3.5px #000;
  padding-right: 30px;
  line-height: 95px;
  background: #5E82A3;
}

.acotarimg {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: coveracotar;
  width: 350px;
  height: 500px;
  background-size: 450px;
  background-position: center;
  background-image: url('../img/acotarcover.jpg');
}

.acotarresume {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: acotar;
  background: rgba(241, 241, 241, 0.8);
}

.ttog {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: ttog;
  height: 100px;
  font-size: 50px;
  font-family: Sofia;
  text-align: left;
  color: #f1f1f1;
  text-shadow: 3.5px 3.5px #000;
  padding-left: 190px;
  line-height: 95px;
  background: #5E82A3;
}

.togimg {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: covertog;
  width: 350px;
  height: 500px;
  background-size: 600px;
  background-position: center;
  background-image: url('../img/tofcover.jpg');
}

.togresume {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tog;
  background: rgba(241, 241, 241, 0.8);
}

footer {
  color: #656565;
  font-family: Roboto;
  font-size: 0.9em;
  width: 800px;
  margin: 20px auto;
  text-align: center;
}
