@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Shadows+Into+Light&display=swap');

/* 
font-family: 'Marvel', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    height: 70px;
    align-items: center;
    padding-left: 15px;
}

#banner {
    background-image: url(https://images4.alphacoders.com/116/1166941.jpg);
    background-size: cover;
    text-align: center;
    padding: 500px 35px;
}
footer {
    position: sticky;
    bottom: 0;
}

.relative {
    position: relative;
    top: 15px;
}

img {
    width: 100px;
    position: absolute;
}

.text-banner {
    width: 700px;
    height: 150px;
    padding: 15px;
    text-align: justify;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}

.text-banner h2 {
    text-align: center;
    font-family: 'Marvel', sans-serif;
    font-size: 40px;
}